<div id="<%= dom_id musician_applicant_form %>">
  <p>
    <strong>Preferred project:</strong>
    <%= musician_applicant_form.preferred_project %>
  </p>

  <p>
    <strong>Preferred style:</strong>
    <%= musician_applicant_form.preferred_style %>
  </p>

  <p>
    <strong>Instrument:</strong>
    <%= musician_applicant_form.instrument %>
  </p>

  <p>
    <strong>Why interest:</strong>
    <%= musician_applicant_form.why_interest %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= musician_applicant_form.availability %>
  </p>

</div>
