<div id="<%= dom_id investor_support_form %>">
  <p>
    <strong>Currency:</strong>
    <%= investor_support_form.currency %>
  </p>

  <p>
    <strong>Investment:</strong>
    <%= investor_support_form.investment %>
  </p>

  <p>
    <strong>Interest reason:</strong>
    <%= investor_support_form.interest_reason %>
  </p>

  <p>
    <strong>Investment history:</strong>
    <%= investor_support_form.investment_history %>
  </p>

</div>
