<p style="color: green"><%= notice %></p>

<%= render @investor_support_form %>

<div>
  <%= link_to "Edit this investor support form", edit_investor_support_form_path(@investor_support_form) %> |
  <%= link_to "Back to investor support forms", investor_support_forms_path %>

  <%= button_to "Destroy this investor support form", @investor_support_form, method: :delete %>
</div>
