<div id="<%= dom_id crew_applicant_form %>">
  <p>
    <strong>Preferred project:</strong>
    <%= crew_applicant_form.preferred_project %>
  </p>

  <p>
    <strong>Crew roles:</strong>
    <%= crew_applicant_form.crew_roles %>
  </p>

  <p>
    <strong>Interest reason:</strong>
    <%= crew_applicant_form.interest_reason %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= crew_applicant_form.availability %>
  </p>

</div>
