<p style="color: green"><%= notice %></p>

<%= render @ben_overall_project_finance_form %>

<div>
  <%= link_to "Edit this ben overall project finance form", edit_ben_overall_project_finance_form_path(@ben_overall_project_finance_form) %> |
  <%= link_to "Back to ben overall project finance forms", ben_overall_project_finance_forms_path %>

  <%= button_to "Destroy this ben overall project finance form", @ben_overall_project_finance_form, method: :delete %>
</div>
