<p style="color: green"><%= notice %></p>

<%= render @ben_update_form %>

<div>
  <%= link_to "Edit this ben update form", edit_ben_update_form_path(@ben_update_form) %> |
  <%= link_to "Back to ben update forms", ben_update_forms_path %>

  <%= button_to "Destroy this ben update form", @ben_update_form, method: :delete %>
</div>
