<div id="<%= dom_id resignationality_form %>">
  <p>
    <strong>Project involved:</strong>
    <%= resignationality_form.project_involved %>
  </p>

  <p>
    <strong>Resignationality cause:</strong>
    <%= resignationality_form.resignationality_cause %>
  </p>

  <p>
    <strong>People involved:</strong>
    <%= resignationality_form.people_involved %>
  </p>

  <p>
    <strong>Possible solution:</strong>
    <%= resignationality_form.possible_solution %>
  </p>

  <p>
    <strong>Additional information:</strong>
    <%= resignationality_form.additional_information %>
  </p>

</div>
