<div id="<%= dom_id information_form %>">
  <p>
    <strong>Profile Picture:</strong>
    <%= information_form.first_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= information_form.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= information_form.last_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= information_form.age %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= information_form.nationality %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= information_form.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= information_form.city %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= information_form.phone_number %>
  </p>

  <p>
    <strong>Introduction:</strong>
    <%= information_form.introduction %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= information_form.bio %>
  </p>

  <p>
    <strong>Social media:</strong>
    <%= information_form.social_media %>
  </p>

</div>
