<p style="color: green"><%= notice %></p>

<%= render @information_form %>

<div>
  <%= link_to "Edit this informationform", edit_informationform_path(@information_form) %> |
  <%= link_to "Back to informationforms", information_forms_path %>

  <%= button_to "Destroy this informationform", @information_form, method: :delete %>
</div>
