<div id="<%= dom_id ben_key_project_finance_form %>">
  <p>
    <strong>Project title:</strong>
    <%= ben_key_project_finance_form.project_title %>
  </p>

  <p>
    <strong>Project description:</strong>
    <%= ben_key_project_finance_form.project_description %>
  </p>

  <p>
    <strong>Total investment:</strong>
    <%= ben_key_project_finance_form.total_investment %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= ben_key_project_finance_form.currency %>
  </p>

  <p>
    <strong>Update:</strong>
    <%= ben_key_project_finance_form.update %>
  </p>

</div>
