<p style="color: green"><%= notice %></p>

<%= render @ben_key_project_finance_form %>

<div>
  <%= link_to "Edit this ben key project finance form", edit_ben_key_project_finance_form_path(@ben_key_project_finance_form) %> |
  <%= link_to "Back to ben key project finance forms", ben_key_project_finance_forms_path %>

  <%= button_to "Destroy this ben key project finance form", @ben_key_project_finance_form, method: :delete %>
</div>
