<div id="<%= dom_id ben_new_project_form %>">
  <p>
    <strong>Project title:</strong>
    <%= ben_new_project_form.project_title %>
  </p>

  <p>
    <strong>Project introduction:</strong>
    <%= ben_new_project_form.project_introduction %>
  </p>

  <p>
    <strong>Project description:</strong>
    <%= ben_new_project_form.project_description %>
  </p>

  <p>
    <strong>Available frontstage roles:</strong>
    <%= ben_new_project_form.available_frontstage_roles %>
  </p>

  <p>
    <strong>Available backstage roles:</strong>
    <%= ben_new_project_form.available_backstage_roles %>
  </p>

</div>
