<p style="color: green"><%= notice %></p>

<%= render @ben_new_project_form %>

<div>
  <%= link_to "Edit this ben new project form", edit_ben_new_project_form_path(@ben_new_project_form) %> |
  <%= link_to "Back to ben new project forms", ben_new_project_forms_path %>

  <%= button_to "Destroy this ben new project form", @ben_new_project_form, method: :delete %>
</div>
