<div id="<%= dom_id transfer_form %>">
  <p>
    <strong>Transfer from:</strong>
    <%= transfer_form.transfer_from %>
  </p>

  <p>
    <strong>Transfer to:</strong>
    <%= transfer_form.transfer_to %>
  </p>

  <p>
    <strong>Project involved:</strong>
    <%= transfer_form.project_involved %>
  </p>

  <p>
    <strong>Transfer reason:</strong>
    <%= transfer_form.transfer_reason %>
  </p>

  <p>
    <strong>Outcome expectation:</strong>
    <%= transfer_form.outcome_expectation %>
  </p>

</div>
