<div id="<%= dom_id investor_sponsor_form %>">
  <p>
    <strong>Preferred project:</strong>
    <%= investor_sponsor_form.preferred_project %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= investor_sponsor_form.currency %>
  </p>

  <p>
    <strong>Investment:</strong>
    <%= investor_sponsor_form.investment %>
  </p>

  <p>
    <strong>Sponsor reason:</strong>
    <%= investor_sponsor_form.sponsor_reason %>
  </p>

  <p>
    <strong>Invest reason:</strong>
    <%= investor_sponsor_form.invest_reason %>
  </p>

  <p>
    <strong>Investment history:</strong>
    <%= investor_sponsor_form.investment_history %>
  </p>

</div>
