<p style="color: green"><%= notice %></p>

<h1>Ben investor update forms</h1>

<div id="ben_investor_update_forms">
  <% @ben_investor_update_forms.each do |ben_investor_update_form| %>
    <%= render ben_investor_update_form %>
    <p>
      <%= link_to "Show this ben investor update form", ben_investor_update_form %>
    </p>
  <% end %>
</div>

<%= link_to "New ben investor update form", new_ben_investor_update_form_path %>
<%= link_to "Back to the main page", ben_registration_url, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
