<div id="<%= dom_id ben_available_backstage_form %>">
  <p>
    <strong>Role title:</strong>
    <%= ben_available_backstage_form.role_title %>
  </p>

  <p>
    <strong>Project involved:</strong>
    <%= ben_available_backstage_form.project_involved %>
  </p>

  <p>
    <strong>Role description:</strong>
    <%= ben_available_backstage_form.role_description %>
  </p>

  <p>
    <strong>Applicants needed:</strong>
    <%= ben_available_backstage_form.applicants_needed %>
  </p>

  <p>
    <strong>Applicants filled:</strong>
    <%= ben_available_backstage_form.applicants_filled %>
  </p>

  <p>
    <strong>Applicant window end:</strong>
    <%= ben_available_backstage_form.applicant_window_end %>
  </p>

</div>
