<div id="<%= dom_id artist_applicant_form %>">
  <p>
    <strong>Preferred project:</strong>
    <%= artist_applicant_form.preferred_project %>
  </p>

  <p>
    <strong>Art form:</strong>
    <%= artist_applicant_form.art_form %>
  </p>

  <p>
    <strong>Art style:</strong>
    <%= artist_applicant_form.art_style %>
  </p>

  <p>
    <strong>Interest reason:</strong>
    <%= artist_applicant_form.interest_reason %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= artist_applicant_form.availability %>
  </p>

</div>
