<p style="color: green"><%= notice %></p>

<h1>Ben selection forms</h1>

<div id="ben_selection_forms">
  <% @ben_selection_forms.each do |ben_selection_form| %>
    <%= render ben_selection_form %>
    <p>
      <%= link_to "Show this ben selection form", ben_selection_form %>
    </p>
  <% end %>
</div>

<%= link_to "New ben selection form", new_ben_selection_form_path %>
<%= link_to "Back to the main page", ben_registration_url, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
