<div id="<%= dom_id actor_applicant_form %>">
  <p>
    <strong>Preferred project:</strong>
    <%= actor_applicant_form.preferred_project %>
  </p>

  <p>
    <strong>Preferred roles:</strong>
    <%= actor_applicant_form.preferred_roles %>
  </p>

  <p>
    <strong>Interest reason:</strong>
    <%= actor_applicant_form.interest_reason %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= actor_applicant_form.availability %>
  </p>

</div>
